$font-stack: Helventica, sans-serif;
$primary-color: #333;
$background: url("../img/wallpaper.jpg") no-repeat;
$background-color: rgba(107, 204, 232, 0.7);
$widget-color: rgba(25, 121, 159, 0.6);
$section-header-font: 'Lucida Grande', sans-serif;
$block-width: 200px;
