$font-stack: Helventica, sans-serif;
$primary-color: #333;
$background: url("../img/wallpaper.jpg") no-repeat;
$background-color: rgb(107, 204, 232);
$widget-color: rgb(25, 121, 159);
$section-header-font: 'Lucida Grande', sans-serif;
$block-width: 200px;
