@import "variables";
@import "widget";
@import "mixins";

* {
  font-family: Chalkboard, $font-stack;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 18px;
  margin: 0;
}

body {
  font: $font-stack;
  font-size: 11px;
  color: $primary-color;
  background: $background;
  line-height: 18px;
}

.page-wrapper {
  background-color: $background-color;
  height: 100%;
  margin: 0 10%;
  padding: 15px;
  border-radius: 10px;

  div {
    display: inline-block;
    width: 100%;
  }

  #zen-intro {
    header {
      font-family: $section-header-font;
    }

    div {
      @include section;
      text-align: justify;
    }
  }

  #zen-supporting {
    @include section;

    height: 250px;
    margin: auto;
    width: 100%;
  }

  #zen-supporting {
    margin-bottom: 20px;

    footer {
      text-align: center;
      margin-top: 5px;
    }

    div {
      @extend .widget;
    }
  }

  aside.sidebar {
    margin: auto;
    width: 80%;
    font-size: 15px;

    .wrapper {
      width: 100%;
    }

    div div {
      @extend .widget;
      text-align: initial;
    }

    ul {
      padding-left: 10px;
      width: 100%;

      li {
        margin-top: 5px;
      }
    }
  }
}
